/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
html,body{
  font-family: "altivo",sans-serif !important;
  font-size: 16px;
  font-weight: 300;
}
h1,h2,h3,h4,h5,h6{
  font-family: "altivo",sans-serif !important;
  font-weight: 400;
}
h1{
  font-size: 2rem !important;
  line-height: 2.5rem !important;
}
@media (min-width:768px){
  h1{
    font-size: 2.5rem !important;
    line-height: 2.8rem !important;
  }
}
.btn,.elementor-button{
  text-transform: uppercase;
}
input,textarea,select,button {
  font-family: "system";
}
input::placeholder,textarea::placeholder{
  font-size: 13px;
}
.font-light, .font-light *{
  font-weight: 300;
}
.font-normal, .font-normal *{
  font-weight: 400;
}
.font-bold, .font-bold *{
  font-weight: 700;
}
#header-nav .nav-item,#header-nav .nav-item button{
  font-size: 14px;
  padding-right: 16px;
}
#page-footer{
  background-color: #081620;
}
.frm_submit{
  text-align: center;
}
.frm_submit input{
  background-color: #4cc0c0 !important;
  color:#fff !important;
  transition: background-color 0.3s ease;
}
.frm_submit input:hover{
  background-color: #fff !important;
  color:#4cc0c0 !important;
}
@media (max-width:500px){
  body.page-id-7 section:first-of-type{
    background-position: -250px !important;
  }
  body.page-id-7 #page-footer .small > .small {
    font-size: 7px;
  }
}
@media (min-width:1200px){
  .navbar-brand img{
    width: 220px;
  }
}
